<h1>Suites</h1>

<% @suites.each do |suite| %>
  <div>
    <%= link_to suite.suite_by_comon_name, suite %>
    (<%= suite.suite_by_latin_name %>)
  </div>
<% end %>
<br>
<br>
<%= link_to "New suite", new_suite_path, class: "btn-submit" %>

<br>
<br>
<br>

<div>
  <%= link_to "Main", '/', class: "btn-submit" %> 
</div>