<div class="container">
  <div class="form">
    <div><%= link_to 'Companies', '/companies'%></div>
    <div><%= link_to 'Suites', '/suites'%></div>
    <div><%= link_to 'Lures', '/lures'%></div>
    <div><%= link_to 'Traps', '/traps'%></div>
  </div>
</div>