<h1>Companies</h1>

<% @companies.each do |company| %>
  <div>
    <%= link_to company.company_name, company %>
  </div>
<% end %>
<br>
<br>
<%= link_to "New company", new_company_path, class: "btn-submit" %>

<br>
<br>
<br>

<div>
  <%= link_to "Main", '/', class: "btn-submit" %> 
</div>